@import url('https://fonts.googleapis.com/css?family=Exo|Oswald&display=swap');
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?xg6m5q');
    src:  url('fonts/icomoon.eot?xg6m5q#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?xg6m5q') format('truetype'),
      url('fonts/icomoon.woff?xg6m5q') format('woff'),
      url('fonts/icomoon.svg?xg6m5q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow_forward_ios:before {
    content: "\e900";
  }
  .icon-arrow_back_ios:before {
    content: "\e901";
  }
  .icon-chevron-circle-down:before {
    content: "\e902";
  }
  .icon-pencil:before {
    content: "\e905";
  }
  .icon-mobile:before {
    content: "\e958";
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-embed2:before {
    content: "\ea80";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-github:before {
    content: "\eab0";
  }
  .icon-linkedin:before {
    content: "\eac9";
  }
 
body{
  width: 100%;
  height: 100%;
  margin: 0;
} 
.logo-principal{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
div.arrow-logo span{
    font-size: 56px;
    color: #444444;
}
#inicio div.arrow-logo{
    position: absolute;
    bottom: 0px;
    right: 0;
    animation: mover 0.7s infinite alternate;
    left: 0;
}
.contenedor-img-perfil .img-perfil{
    width: 100%;
    height: 100%;
}
section#presentacion{
    position: relative;
    padding-top: 70px;
    height: 100vh;
}
.subtexto{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 35px;
    height: 100px !important;
}
.subtexto h2{
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    font-weight: 800;
    max-width: 530px;
    margin: auto;
    background: #fff;
    padding: 15px 5px;
    border-radius: 34px;
}
.text-container p{
    font-size: 18px;
    text-align: center;
    font-family:  'Exo', sans-serif;
    font-weight: 600;
    margin-top: 80px;
}
.row{
    height: 100%;
}
.logo{
    max-height: 400px;
    max-width: 300px;
    margin: auto;
}
.logo-text em{
    font-family:  'Exo', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
}
.logo-text p{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}
.container{
    width: 85%;
}
.contenedor-img-perfil{
    position: relative;
    min-width: 50%;
    max-width: 50%;
}
.contenedor-img-perfil span.cuadro-img{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    position: absolute;
    z-index: -1;
}

.inicioBtn{
    padding:0 15% 2% 15%;
}

.hoverable{
    color:#212121;
    background: #ffffff;
}
.hoverable:hover{
    background: #FF4081;
    color:white;
}

h6{
    text-align: justify;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 50px;
}

h5{
    padding-bottom: 15px;
}

.icon{
    padding:20px 25px 0 0;
    border-bottom: 3px solid teal; 
    margin-right:25px; 
    margin-left:25px; 
}

label{
    font-size: 15px;
    color: #212121;
    margin-left:5px; 
}

footer{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
margin:0;
height: 87vh;
padding-top: 8%;
padding-right: 4%;
}

.container{
    height: 100%;
}

a{
    text-decoration: none;
}

.imgProyect{
    width: 40%;
    height: 90%;
}

.imgLaptop{
    width: 80%;
    padding: 10px;   
}

.borderF{
    box-shadow: 0 0 10px #444444;
    margin-bottom: 50px;
    padding:10px 50px 10px 50px;
}

.card{
    margin-top: 50px;
}

.labelPhone{
    font-size:9px;
    color: bold;
    height: 5px;
    border-bottom: teal 2px solid; 
}


#acercaDeMi{
    height: auto;
    padding-top: 80px;  
    padding-bottom: 50px;  
}
#skills{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
#projects{
    padding-top: 50px; 
    padding-bottom: 50px;
}

#inicio{
    height: 100vh;
    background-image: url('./imagenes/fondo-abstracto.png');
    background-size: contain;
    position: relative;
}

h3{
    padding-bottom: 15px;
   
}

h2{
float: center;
}
u{
   color:  #FF4081;
}

.texto{
    display: flex;
    position: relative;
    min-height: 600px;
}
.text-container{
    max-width: 50%;
    right: 65px;
    border: 60px solid;
    padding: 25px 61px;
    top: 30px;
    z-index: -1;
}

.pad{
    margin-bottom :30px;
}

.footer-copyright{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media only screen and (max-width: 600px) {

}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}